:root {
    --color-bg: #06a5cf;
    --color-btn-1: #3aaa34;
    --color-btn-2: rgb(255, 59, 59);
    --color-font-1: white;
    --color-font-2: black;
    --color-font-3: red;
    --color-font-4: rgb(71, 71, 71);
    --color-footer: #f39200;
    --color-logo: #ffd900;
    --color-random: #8e44ad;
    --color-shadow: #458a99;
}

* {
margin: 0;
padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.card {
  height: 80%;
  margin: 10%;
  width: 30rem;
}

.bgColor{
  background-color: var(--color-bg);
  border-radius: 50px 50px 0px 0px;
  margin: 1% 10% 0% 10%;
  width: 80%;
}

.txt-navbar {
  color: var(--color-bg);
}

.shadowFooter {
  background-color: var(--color-footer);
  box-shadow: 2px -4px 20px var(--color-shadow);
  margin-bottom: 0%;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

#letsPlay{
  background-color: var(--color-logo);
  border-radius: 50%;
  color: var(--color-font-1);
  font-weight: 500;
  height: 200px;
  width: 200px;
}
#letsPlay:hover{
  background-color: var(--color-font-1);
  border-color: var(--color-logo);
  border-width: 10px;
  color: var(--color-font-2);
  font-weight: 500;
}

.btnExit{
  background-color: var(--color-btn-2);
  border-radius: 100%;
  color: var(--color-font-1);
  height: 60px;
}
.btnExit:hover{
  background-color: var(--color-font-1);
  border-color: var(--color-btn-2);
  color: var(--color-font-2);
}

#btnNext, 
#btnOkUser {
  background-color: var(--color-btn-1);
  color: var(--color-font-1);
  height: 60px;
}
#btnNext:hover,
#btnOkUser:hover {
  background-color: var(--color-font-1);
  border-color: var(--color-btn-1);
  color: var(--color-font-2);
}

p {
  display: inline-block;
  font-size: 3.5rem;
  margin: 0;
  vertical-align: top;
}
  
.word {
  position: absolute;
  opacity: 0;
}
  
.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
  
.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
  transform: rotateX(-90deg);
}
  
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.name {
  color: var(--color-random);
}

.progress {
  height: 100px;
}
.progress-bar {
  -webkit-text-stroke: 1px var(--color-font-4);
  font-size: 20px;
  background-color: var(--color-random);
}

#bar{
  width: 0%;
}

#navbarNav{
  font-family: 'Lucida Sans Regular', sans-serif;
}

.flipX:hover {
  animation: 2s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

label {
  margin-right: 5px;
}
#msg {
  margin-top: 10px;
  color: var(--color-font-3);
  background: var(--color-font-1);
}

.btnQuestionCheck{
  background-color: #124368;
  width: 75%;
  margin-bottom: 2%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(134, 134, 134);
}
.btnQuestionCheck:hover{
  background-color: var(--color-shadow);
}

.active{
  background-color:var(--color-btn-1);
}

/* .progress{
background-color: rgb(111, 200, 210);
height: 4rem;
padding:0px;
} */

/* #bar{
font-size: 30px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(72, 72, 72);
} */

/* #titleQuestion{
color: #ef9000;
font-weight: 700;
text-shadow: 2px 2px #2b2b2b;
} */



/* ========================================================== */
/* MEDIA QUERYS                                               */
/* ========================================================== */

/*
@media screen and (min-width: 1920px){
  .bgColor {
    height: 60rem;
    padding: 2%;
  }
}

@media (max-width: 1380px){
  #containerBar{
    display: grid;
    columns: 1;
    grid-row: 2;
  }
  #bar{
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    }
  #titleQuestion{
    justify-self: center
  }
}

*/
