:root{
    --color-font: 8e44ad;
}

*{
padding: 0;
margin: 0;
}

.bgColor{
    background-image: url('/static/images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.size{
    height: 120%;
}
.shadowFooter{
    background-color: #f39200;
    box-shadow: 2px -4px 20px #458a99;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.altDiv{
    height: 500px;
}

#letsPlay{
    background-color:#ffd900;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-weight: 500;
    color: white;
}
#letsPlay:hover{
background-color: white;
border-color: #ffd900;
border-width: 10px;
color: black;
font-weight: 500;
}

.btnExit{
    background-color:rgb(255, 59, 59);
    color: white;
    /*width: 60px;*/
    height: 60px;
    border-radius: 100%;
}
.btnExit:hover{
  background-color: white;
  border-color: rgb(255, 59, 59);
  color: black;
}

#btnNext{
  background-color:#198754;
  color: white;
  height: 90px;
  border-radius: 100%;
}
#btnNext:hover{
  background-color: white;
  border-color:#198754; 
  color: black;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 3.5rem;
  }
  
  .word {
    position: absolute;
    opacity: 0;
  }
  
  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: var(--color-font);
  }

#bar{
  width: 0%;
}

#navbarNav{
  font-family: 'Lucida Sans Regular', sans-serif;
}

.flipX:hover {
  animation: 2s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}

label {
  margin-right: 5px;
}
#msg {
  margin-top: 10px;
  color: red;
  background: #eee;
}